section.hero.is-bold {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../fifa-2018-wp.jpg");
	background-size: cover;
	background-position: center center;
}

.space {
	margin: 50px 0;
}

figure.image:hover {
	cursor: pointer;
	box-shadow: 0px 0px 25px 2px rgba(0, 0, 0 , 0.75);
	-webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0 , 0.75);
	-moz-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0 , 0.75);
}

img.card-img-top:hover {
	cursor: pointer;
	box-shadow: 0px 0px 25px 2px rgba(0, 0, 0 , 0.75);
	-webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0 , 0.75);
	-moz-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0 , 0.75);
}

.sobre-img:hover {
	cursor: pointer;
	box-shadow: 0px 0px 25px 2px rgba(0, 0, 0 , 0.75);
	-webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0 , 0.75);
	-moz-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0 , 0.75);
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}